*{
	padding: 0;
	margin: 0;
	/*font-family: 'Open Sans', sans-serif;*/
}
/*css for toolbar*/
.tool-bar{
	min-height: 40px;
	height: auto;
	width: 100%;
}
.toolbar-note{
	max-width: 185px;
	float: left;
	padding: 9px 0 0 25px;
	position: relative;
}
.toolbar-button{
	padding-top: 3px;
	padding-right: 15px;
	position: relative;
}
.tool-bar span{
	font-size: 15px;
}
.appoinment-button{
	position: relative;
	background-color: #32B6CD ;
	float: right;
	padding: 4px 15px 0 15px;
	border-radius: 25px;
	border-style: solid;
	max-width: 200px;
	min-height: 35px;
    height: auto;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.appoinment-button:hover{
	background-color: #ffffff;
    color: #32B6CD;
    text-decoration: none;
}
/*end of toolbar*/

/*css for navbar*/
.navbar-section{
	display: inline-block;
	width:100%;
	min-height: 165px;
	background-image: url('../Images/mediservice-Banner.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
.navbar {
	width: 100%;
	height: 60px;
  	padding: 12px 0;
  	background-color: rgba(0,172,230,0.6);
  	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.5);
}
#navbar_logo {
	width:60%;
	max-width: 270px;
    max-height: 90px;
}
#navbar_supported_content {
  	position: absolute;
  	width: 100%;
  	top: 60px;
}
.navbar-nav {
  	text-align: center;
 }
.navbar-toggler-icon {
  	position: absolute;
  	outline: none;
  	right: 14px;
  	height:55%;
  	width:40px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 26 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon:focus{
	outline: none;
}
.nav-item {
  	background-color: #32B6CD ;
  	padding-top: 10px;
  	padding-bottom: 10px;
}
.nav-item:hover {
  	background-color: #ffffff;
  	cursor: pointer;
}
.nav-item a {
  	color: #ffffff;
  	font-weight: 500px;
  	font-size: 16px;
  	text-decoration: none;
}
.nav-item:hover a {
	color: #32B6CD ;
	text-decoration: none;
	}
/*End of Navbar*/

/*Css for choose-us article*/
.choose-us{
	padding: 25px 20px 25px;
}
.article-body{
	width: auto;
}
#article_heading_text{
	font-weight: 500px;
	font-size: 23px;
	display: inline-block;
}
.article_heading_logo{
	width:70px;
	height:14px;
	padding:0 10px;
}
#article_body_logo{
	display: none;
}
.article-content-paragraph{
	padding-top: 9px;
	line-height: 1.7;
	font-size: 15px;
}
.article-item-container{
	padding: 10px 0 10px;
	width: auto;
	/*height: 80px;*/
}

.article-item_logo{
	float: left;
	width: 30px;
	height: 35px;
}
.article-item-column{
	width: 50%;
	position: relative;
	height: auto;
	display: inline-block;
	float: left;
	margin-bottom: 25px;
}
.article-item-column a{
	font-size: 15px;
	padding-left: 15px;
	text-decoration: none;
	color: #000000;
}
.article-item-column a:hover{
	color: #32B6CD ;
	text-decoration: none;
}
/*end of choose-us*/

/*CSS for Department*/
.dept-container{
	position: relative;
	margin: 65px auto 10px;
	padding: 20px 15px 0 15px;
	width: 100%;
}
.dept-header{
	width: 100%;
	padding-top: 30px;
	color: #32B6CD;
	text-align: center;
}
.dept-header h5{
	display: inline;
	font-size: 24px;
}
.dept-item-container{
	padding: 20px;
	margin:auto;
	text-align: center;
}
.dept-item{
	margin: auto;
}
.dept-item img{
	height:auto;
	padding-top: 15px;
}
.dept-caption{
	padding: 15px 0 10px 0;
	color: #32B6CD;
	font-size: 17px;
	font-weight: bolder;
	text-decoration: none;
}
.dept-caption:hover{
	text-decoration: none;
	color:#000000; 
}
.dept-item a:hover{
	text-decoration: none;
}
#medicine_logo{
	width:105px;
}
#neurology_logo{
	width: 70px;
}
#gastrology_logo{
	width:100px;
}
#cardiology_logo{
	width: 100px;
}
#more_logo{
	width: 70px;
	padding-top: 10px;
}
/*end od Department*/

img {
    vertical-align: middle;
}
div{
	display: block;
}
/*CSS for footers*/
.dashed-line{
	margin:20px 13px 0 13px;
	height: 1px;
	padding-left:10px;
  	background: repeating-linear-gradient(to right, #32B6CD  0,#32B6CD  10px, #ffffff 10px, #ffffff 17px)
}
.copyright-info{
	padding-top: 15px;
	padding-bottom: 5px;
    text-align: center;
    opacity: 70%;
    font-size:12.5px;
}
/*End of Footers*/

/*Media Query for tablet*/
@media screen and (min-width: 567px){
.navbar-section{
	min-height: 335px;
	background-size: 100% 100%;
}
#navbar_supported_content {
    margin: 10px;
    position: unset;
    top: auto;
}
.navbar-nav {
    width: 100%;
    border: none;
    justify-content: flex-end;
}
.nav-item {
    display: inline-block;
    background:transparent;
}
.nav-item a {
	font-size: 14px;
	font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    text-transform: uppercase;
}
#article_body_logo{
	display: inline-block;
	float:right;
	padding:10px 0 0 20px;
	margin-left: 10px;
	max-width: 200px
	max-height:225px;
}
.article-image{
	float: right;
	width:30%;
	margin:0 10px;
	max-height: 225px;
	max-width: 200px;
}
.article-item-container{
	width: auto;
	display: flex;
	justify-content: space-between;
}
.article-item-column{
	width:auto;
	height: auto;
	margin-bottom: 5px;
}
.dept-item-container{
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dept-container{
	margin-top: 0;
	padding-top: 0; 
}
.dept-header{
	padding-top: 0;
}
}
/*End of tablet media Query*/

/*Media Query for Desktop*/
@media screen and (min-width: 992px){
.navbar-section{
	min-height: 435px;
	background-size: 100% 100%;
}
.article-image{
	margin:0 25px;
	padding-right: 10px;
}
.article-content-paragraph{
	padding-right: 10px;
	text-align: justify;
}
#article_body_logo{
	padding:10px 0 0 20px;
	margin-left: 10px;
	max-width: 195px;
	max-height:220px;
}
}
@media screen and (min-width: 1088px){
#article_body_logo{
	max-width: 165px;
	max-height:190px;
}
}